*{
    margin:0;
    padding:0;
}
 /* header*//* header*//* header*//* header*//* header*//* header*//* header*//* header*//* header*//* header*/
.header{
    background-color: hsl(194, 39%, 30%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(#305D6B, #94b5be);
    height: 110px;
    transform: translate(0%,-17%);
}
.barraNavegacion__lista {
    background-color: none;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
   
}
.header__imagen {
    width: 100px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
   
    
    
    
}
.barraNavegacion__lista li{
    transition: transform 1s, background-color 2s;
}
.barraNavegacion__lista li:hover {
   transform:scale(1.4);
   background-color: rgba(0, 0, 0, 0.253);


}

a{
    text-decoration: none;
    color: white;
    margin: 10px ;
    padding: 15px;

   
}


/* Main *//* Main *//* Main *//* Main *//* Main *//* Main *//* Main *//* Main *//* Main *//* Main *//* Main */

.main {
    width: 100%;
    height: 558px;
    background-color: #305D6B;
    transform: translate(0%, -29%);

}

.fondo__oficina {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 550px;
}
.titulo__principal{ 
    text-align: center;
    color:#f2f7f8;
    margin-top: 140px;
    top: 240px;
    bottom:0%;
    padding:20px;
    font-size: 40px;
    color: rgb(2, 2, 2);
}

.parrafoPresentacion {
    color:whitesmoke;
    text-align: center;
    top: 240px;
    
}



.redes {
    display:inline-block;
    transition: all 2s;
}

/*Estudio*//*Estudio*//*Estudio*//*Estudio*//*Estudio*//*Estudio*//*Estudio*//*Estudio*//*Estudio*//*Estudio*//*Estudio*/
.estudio {
    text-align: center;
    color:whitesmoke;
    bottom: 50px;
    font-size: 35px;
    background-image: url(/images/oficina.jpg);
}

.estudioInfo {
    text-align:center;
    color: black;
    padding: 100px;
    background-color: whitesmoke;
    font-size: 16px;
}


/*SERVICIOS*//*SERVICIOS*//*SERVICIOS*//*SERVICIOS*//*SERVICIOS*//*SERVICIOS*//*SERVICIOS*//*SERVICIOS*//*SERVICIOS*/
.servicios {
    background-color:#f2f7f8;
    padding-top: 1px;
    padding-bottom: 1px;
}
.banner {
    top:400px;
    height: 300px;
    width: 100%;
}
.nuestrosServicios {
    background-color: black;
    text-align: center;
    color: whitesmoke;
    margin-top: 14px;
    top: 10px;
    bottom:0%;
    padding-top:20px;

}
.admin__contable {
    text-align: center;
    color: black;
    margin-block-start: 1px;
    top: 10px;
    bottom:0%;
    padding:20px;
    font-size: 25px;
    font-style: italic;
}

.adminContable {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    margin-left: 570px;
    transition: all 2s;
    
}
.textoUno{
    text-align: center;
}


.adminImpositiva {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    margin-left: 570px;
    transition: all 2s;

}

.admin__impositiva {
    text-align: center;
    color: black;
    margin-top: 10px;
    top: 240px;
    bottom:0%;
    padding:20px;
    font-style: italic;
    font-size: 25px;

}
.textoDos {
    text-align: center;
}
.adminLaboral{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    margin-left: 570px;
    transition: all 2s;
}

.admin__laboral {
    text-align: center;
    color: black;
    margin-top: 10px;
    top: 100px;
    bottom:0%;
    padding:20px;
    font-style: italic;
    font-size: 25px;
}
.textoTres {
    text-align: center;
    padding-bottom: 50px;
}
.asesoramiento {
    text-align: center;
    color: black;
    margin-top: 10px;
    top: 100px;
    bottom:0%;
    padding:20px;
    font-style: italic;
    font-size: 25px;
}

.adminNegocio{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    margin-left: 570px;
    transition: all 2s;

}
.textoCuatro{
    text-align: center;

}
/*QUIENESSOMOS*//*QUIENESSOMOS*//*QUIENESSOMOS*//*QUIENESSOMOS*//*QUIENESSOMOS*//*QUIENESSOMOS*//*QUIENESSOMOS*/
.nosotros {
    background-color: white;
    position: relative;
    margin-bottom: 0px;
    padding-top: 0%;
    bottom: 0%;
 
}
.quienes_somos {
    text-align: center;
    color:black;
    text-decoration:underline;
    margin-top: 10px;
    top: 240px;
    bottom:0%;
    padding:20px;
    size: 20px;
}

.nosotros_presentacion {
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 100px;


}

.imagen_matias {
    height: 200px;
    width: 200px;
    margin-right: 140px;
    transition: all 1s;
    padding-left: 560px;
}

/*CONTACTO*//*CONTACTO*//*CONTACTO*//*CONTACTO*//*CONTACTO*//*CONTACTO*//*CONTACTO*//*CONTACTO*//*CONTACTO*/
.contacto {
    background-color: white;
}
.bannerForm {
    height: 200px;
    width: 100%;
}

.form_contacto {
    text-align: center;
    color: black;
    top: 240px;
    bottom:0%;
    padding:20px;

} 
.formulario { 
    display:flex ;
    flex-direction: column;
    justify-items:  center;
    margin-bottom: 200px;
    padding-left: 560px;
    
}

@media only screen and (min-widht: 768px) {
    .main{
        background-image: none;
        background-color: whitesmoke;
    }
}

/*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*/

.footer{
    width: 100%;
    background-color: #305D6B;
    display: flex;
    justify-content: center;

}
