*{
    margin:0;
    padding:0;
}
 /* header*//* header*//* header*//* header*//* header*//* header*//* header*//* header*//* header*//* header*/
.header{
    background-color: hsl(194, 38%, 30%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(#305D6B, #94b5be);
    height: 110px;
    transform: translate(0%,-17%);
}
.barraNavegacion__lista {
    background-color: none;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
   
}
.header__imagen {
    width: 100px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
   
    
    
    
}
.barraNavegacion__lista li{
    transition: transform 1s, background-color 2s;
}
.barraNavegacion__lista li:hover {
   transform:scale(1.4);
   background-color: rgba(0, 0, 0, 0.253);


}

a{
    text-decoration: none;
    color: white;
    margin: 10px ;
    padding: 15px;

   
}


/* Main *//* Main *//* Main *//* Main *//* Main *//* Main *//* Main *//* Main *//* Main *//* Main *//* Main */

.main {
    width: 100%;
    height: 558px;
    background-color: #305D6B;
    transform: translate(0%, -29%);

}

.fondo__oficina {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 550px;
}
.titulo__principal{ 
    text-align: center;
    color:#f2f7f8;
    margin-top: 140px;
    top: 240px;
    bottom:0%;
    padding:20px;
    font-size: 40px;
    color: rgb(2, 2, 2);
}

.parrafoPresentacion {
    color:whitesmoke;
    text-align: center;
    top: 240px;
    transform: translate(0%, -25%);
}

/*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*/

.footer{
    position:absolute;
    top:800px;
    background-color: #305D6B;
    display: flex;
    justify-content: center;

    
}


.redes {
    display:inline-block;
    transition: all 2s;
}

/*Estudio*//*Estudio*//*Estudio*//*Estudio*//*Estudio*//*Estudio*//*Estudio*//*Estudio*//*Estudio*//*Estudio*//*Estudio*/
.estudioInfo{
    background-color: black;
    background-image: url(./images/oficina-imagen.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.estudio__info {
    text-align: center;
    color: whitesmoke;
    margin-top: 140px;
    top: 240px;
    bottom:0%;
    padding:20px;
}

/*SERVICIOS*//*SERVICIOS*//*SERVICIOS*//*SERVICIOS*//*SERVICIOS*//*SERVICIOS*//*SERVICIOS*//*SERVICIOS*//*SERVICIOS*/
.servicios {
    background-color: black;

}
.nuestrosServicios{
    text-align: center;
    color: whitesmoke;
    margin-top: 140px;
    top: 240px;
    bottom:0%;
    padding:20px;

}
.responsables__inscriptos {
    text-align: center;
    color: whitesmoke;
    margin-top: 140px;
    top: 240px;
    bottom:0%;
    padding:20px;

}

.pymes__emprendedores {
    text-align: center;
    color: whitesmoke;
    margin-top: 140px;
    top: 240px;
    bottom:0%;
    padding:20px;

}

.auditoria__balances {
    text-align: center;
    color: whitesmoke;
    margin-top: 140px;
    top: 240px;
    bottom:0%;
    padding:20px;
}
.asesoramiento {
    text-align: center;
    color: whitesmoke;
    margin-top: 140px;
    top: 240px;
    bottom:0%;
    padding:20px;
}

/*QUIENESSOMOS*//*QUIENESSOMOS*//*QUIENESSOMOS*//*QUIENESSOMOS*//*QUIENESSOMOS*//*QUIENESSOMOS*//*QUIENESSOMOS*/
.nosotros {
    background-color: whitesmoke;
 
}
.quienes_somos {
    text-align: center;
    color: black;
    margin-top: 140px;
    top: 240px;
    bottom:0%;
    padding:20px;
}
.imagen_erika {
    height: 300px;
    width: 300px;
    border-radius: 50px;
    margin-right: 140px;
    background-image: linear-gradient( blue , red);
    transition: all 1s;
  }

.nosotros_presentacion {
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:300px 300px;
    background-color: bisque;
    justify-items: right;
    column-gap: 200px;


}
.nombreErika {
    color: blue;
    background-color:olive;
    justify-items: right; 
    transition: all 2s;


}

.nombreMatias {
    justify-items: left;
    color:blueviolet;
    background-color: cadetblue;
    transition: all 2s;
    
}

.imagen_matias {
    height: 300px;
    width: 300px;
    border-radius: 50px;
    margin-right: 140px;
    transition: all 1s;
}
/*
.matiasPellegrini {
    text-align: left;
    color: black;
    
}*/

/*CONTACTO*//*CONTACTO*//*CONTACTO*//*CONTACTO*//*CONTACTO*//*CONTACTO*//*CONTACTO*//*CONTACTO*//*CONTACTO*/
.contacto {
    background-color: black;
}

.form_contacto {
    text-align: center;
    color: whitesmoke;
    margin-top: 140px;
    top: 240px;
    bottom:0%;
    padding:20px;


} 

@media only screen and (min-widht: 768px) {
    .main{
        background-image: none;
        background-color: whitesmoke;
    }
}

